<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Load the YAML file into the parameter server -->
  <rosparam file="$(find robotmpcs_ros)/config/dingo_mpc_config.yaml" command="load"/>
  <node pkg="robotmpcs_ros" type="mpc_planner_node_dingo" name="mpc_planner_node_dingo" output="screen"/>


</launch>

